@use "@sass/styles"as *;

.input-field {
    margin-top: 12px;
}

.input-field input {
    padding: 12px;
    border: 1px solid $gray-200;
    border-radius: 4px;
    width: 100%;

}




.input-field.error {
    input {
        border: 1px solid $red;
        color: $red;
    }


}

.input-field:not(.error) .feedback {
    display: none;
}