$white: #fff;
$blue: #292f4c;
$green: #34D859;
$red: #f34848;
$gray-400: rgba(255, 255, 255, 0.3);
$gray-200: #DADADA;
$gray: #F1EDED;
$gray-100: #efece8;
$gray-300: rgba(#181c2f, 0.2);
$gray-bg: #f2f2f2;
$black: #181c2f;
$gray-hover: #f3f5f6;
$dialoguesWidth: 320px;
$leftSideWidth:70px;
$chatBoxWidth:500px;
$aboutUserWidth: 300px;