 @use "./styles.scss"as *;
 @import './reset';

 .App {
     max-width: 1400px;
     height: 100vh;
 }

 .dot-status {
     width: 16px;
     height: 16px;
     border-radius: 50%;
     background-color: #a1a4ab;
 }

 .dot-status.online {
     background-color: $green;
 }

 button {
     background: none;
     border: none;
     outline: none;
     cursor: pointer;
     display: inline-block;
 }

 em-emoji-picker {
     //  --shadow: 0px 2px 20px 22px rgba($color: $black, $alpha: .9);

     height: 290px;

 }

 input {
     border: none;
     outline: none;
 }

 .infinite-scroll-component__outerdiv {}