@use "@sass/styles"as *;

.dialogues {
    width: $dialoguesWidth;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f8;
}

.header {
    width: 100%;
    padding: 12px;
    // border-bottom: 1px solid $gray-300;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    color: $black;
    padding-left: 4px;
}

.header-actions {
    display: flex;

    .btn {
        font-size: 20px;
        padding: 4px 6px;
        border-radius: 4px;
        transition: all 0.3s ease;
    }

    .btn:hover {
        background-color: $red;
        color: $white;
    }

}

.search {
    // width: 100%;
    margin-right: 12px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    input {
        background: $white;
        border: none;
        outline: none;
        border-radius: 6px;
        width: 100%;
        padding-left: 40px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 16px;
        font-family: "Lato", sans-serif;
        color: $black;
        font-weight: 400;
    }

    input::placeholder {
        color: rgba($color: $black, $alpha: 0.3);
    }

    .search-icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translate(0, -50%);
        width: 18px;
        height: 18px;
        color: rgba($color: $black, $alpha: 0.3)
    }
}

.dialogues-list {
    height: calc(100% - 88px);
    overflow-y: scroll;
    // padding: 0 12px;
    padding-right: 12px;

    a {
        text-decoration: none;
    }

    &::-webkit-scrollbar {
        width: 0px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: #888;
        // background-color: $gray-400;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #888;
    }

}

.dialogues-items {
    border-radius: 6px;
    padding: 16px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;

    &.active {
        background-color: $white;
    }

    &:hover {
        background-color: #e5efff;
    }
}

.dot {
    width: 10px;
    height: 10px;
}

.items-info {
    display: flex;
    align-items: center;
    flex: 1;
}

.avatar {
    @include avatar;
}


.name-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}

.name-box .name {
    color: $black;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dialogues-items.dark .name-box .name {
    color: $white;
}

.name-box .online-status {
    font-size: 14px;
    font-family: 'Lato';
    color: rgba($color: $black, $alpha: 0.3);
}

.dialogues-items.dark .name-box .online-status {
    color: $gray-400;
}

.online-time {
    align-self: flex-start;
    font-size: 14px;
    color: $black;
    font-weight: 500;
}

.dialogues-items.dark .online-time {
    color: $gray-400;
}


.message {
    font-size: 12px;
    color: $black;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    // margin-top: ;
}


.count {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $red;
    border-radius: 50%;
    font-size: 14px;
}