@use "@sass/styles"as *;

.left-side {
    width: $leftSideWidth;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    padding-top: 28px;
    padding-bottom: 28px;
    height: 100%;
    border-right: 1px solid $gray-300;

}

.avatar {
    width: 50px;
    height: 50px;
    position: relative;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        height: 100%;
    }

    .status {
        position: absolute;
        top: 0;
        left: 0;
        border: 4px solid $white;
    }


}

.side-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 12px;

    li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }




}

.side-signOut {

    background: none;
    border: none;
    cursor: pointer;


}

.icons {
    color: $red;
    font-size: 24px;
    transition: 0.3s ease;
    border-radius: 50%;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.icons:hover {
    background-color: $gray-hover;

}

.icons.active {
    color: $white;
    background-color: $red;

}