@use "@sass/styles"as *;

.home {
    width: 100%;
    max-height: 800px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 100%;
}

.common {
    width: calc(100% - $leftSideWidth);
    display: flex;
}