@use "@sass/styles"as *;

.about-user {
    height: 100%;
    width: $aboutUserWidth;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 64px;
    padding-left: 24px;
    padding-right: 24px;

}

.avatar {
    @include avatar(100px, 64px, 55px);
}

.name {
    font-size: 20px;
    font-weight: 900;
    color: $black;
}

.active {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-transform: capitalize;
    color: rgba($color: $black, $alpha: .6);
    line-height: 2;

}

.dot {
    width: 12px;
    height: 12px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 32px;

}

.social-links {
    font-size: 16px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-links.facebook-icons {
    background: #3D5A96;
}

.social-links.twitter-icons {
    background: #2AA3EF;

}

.social-links.instagram-icons {
    background: linear-gradient(180.19deg, #7024C4 0.17%, #C21975 41.57%, #C74C4D 70.15%, #E09B3D 99.83%);

}